<!-- 所有页面都会用到的-start-🍮 -->
<footer class="back-logo">
    <div class="footer-content">
        <span class="logo colorful-text">Huevo</span>
        <span class="column-split"></span>
        <span class="footer-content-information">
            <span class="mobile-top">
                <span class="powered">Powered by Hexo</span>
                <span class="contact-information">
                        <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple">
                            <i class="fa fa-github"></i>
                        </button>
                        <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple">
                            <i class="fa fa-inbox"></i>
                        </button>
                </span>
            </span>
            <% if (page.published) { %>
                <span class="read-value">
                    本文总阅读量<span id="busuanzi_value_page_pv"></span>次
                </span>
            <% } %>
        </span>
    </div>
</footer>
<!-- 所有页面都会用到的-end-🍰 -->

<!-- 所有页面都会用到的-start-🥰 -->
<!--<script src="libs/spa.js"></script>-->
<script src="/js/mdui.js"></script>
<script src="/js/common.js"></script>
<script src="/js/navigation.js"></script>
<script src="/js/footer.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!--<script src="router.js"></script>-->
<!-- 所有页面都会用到的-end-🤗 -->
