@font-face {
    font-family: xiangsu;
    src: url("/fonts/FZXIANGSU14.ttf");
}

@font-face {
    font-family: firacode;
    src: url("/fonts/FiraCode-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.wait-to-design {
    color: rgba(31, 32, 39, 0.27);
    font-size: 57px;
    font-weight: 300;
    font-family: "Meslo LG S DZ for Powerline", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: #000 solid 1px;
}

span.column-split {
    height: 30px;
    width: 1px;
    display: inline-block;
    background-color: rgb(214, 214, 214);
    margin-left: 20px;
    margin-right: 20px;
}

.normal-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.back-logo {
    background-image: url("/images/light_icon.png");
    background-size: 168px;
}

.logo {
    background: url("/images/logo.png") no-repeat;
    background-size: contain;
    width: 39px;
    height: 39px;
    font-size: 27px;
    line-height: 39px;
    padding-left: 37px;
    padding-right: 37px;
    color: rgb(40, 42, 44);
    font-family: 'VT323', monospace;
}

body {
    background-color: #fafdff;
}

header {
    background-color: #fafdff;
    box-shadow: 0 2px 11px 0 #e0dcdc;
}

a {
    text-decoration: transparent;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.colorful-text {
    font-family: xiangsu, monospace;
    font-weight: 600;
}
